export SHELL=/bin/bash

# ==================================================================================== #
# LOCAL CONFIGURATION
# ==================================================================================== #

# PostgreSQL Docker Container - LOCAL
export LOCAL_PG_CONTAINER=beecore-postgres

# PostgreSQL Connection Parameters - LOCAL
export LOCAL_DB=deilora-dev
export LOCAL_DB_USER=v8tix
export LOCAL_DB_PASSWD=qCeGbJgz2lNIXo
export LOCAL_DB_HOST=localhost
export LOCAL_DB_PORT=5432

# PostgreSQL Connection String
export LOCAL_DB_DSN="postgres://${LOCAL_DB_USER}:${LOCAL_DB_PASSWD}@${LOCAL_DB_HOST}:${LOCAL_DB_PORT}/${LOCAL_DB}?sslmode=disable"

# Migration settings
export MIGRATIONS_PATH=./local/migrations
export MIGRATION_FILE_NAME=create_auth_schema
export GOTO=1